<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market</title>
</head>
<body>
    
    <ul>
        <% cryptocurrencies.forEach(function(crypto) { %>
            <li><%= crypto.Name %> - <%= crypto.Price %> - <%= crypto['Blockchain Type'] %> - <%= crypto['Launch Date'].toLocaleDateString() %> </li>
        <% }); %>
    </ul>

</body>
</html>