<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/bootstrap.css">

</head>
<body>
    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="logo">
                        <a id="logo">
                            <i class="fa-solid fa-computer"></i>
                            <p>CryptoBros</p>
                        </a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="navigation">
                        <ul class="menu">
                            <li><a href="/market">Market</a></li>
                            <li><a href="/dashboard">Your account</a></li>
                            <li><a href="/wallet">Your Wallet</a></li>
                        </ul>
                        
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="navigation">
                        <ul class="menu">
                            <% if (req.session && req.session.username) { %>
                                <li><a href="/logout">Log Out</a></li>
                            <% } else { %>
                                <li><a href="/register">Register</a></li>
                                <li><a href="/login">Login</a></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div style="margin-top: 20px;"></div>

    <div class="content container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Amount</th>
                    <th>Amount to sell</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% cryptocurrencies.forEach(function(crypto) { %>
                    <tr>
                        <td><%= crypto.Name %></td>
                        <td><%= crypto.Price %></td>
                        <td><%= crypto.Amount %></td>
                        <% if (req.session && req.session.username) { %>
                        <form action="/sell/<%= crypto.Crypto_ID %>" method="POST">
                            <td><input type="number" name="amount" id="amount" min="1" max="1000" value="1"></td>
                            <td><button class="btn btn-primary">Sell</button></td>
                        </form>
                        <% } 
                        %>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>